In [106]:
import pandas as pd

In [107]:
# Cargar los datos
k2_df_raw = pd.read_csv('../../data/raw/k2pandc_2025.10.04_12.42.17.csv')

In [108]:
# Mostrar las primeras filas del DataFrame
k2_df_raw.head()

,pl_name,hostname,default_flag,disposition,disp_refname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,BD+20 594 b,BD+20 594,0,CONFIRMED,Espinoza et al. 2016,1,1,Transit,2016,K2,...,-0.012,9.368,0.018,-0.018,10.8644,0.000249,-0.000249,25/04/2018,2018-03,15/02/2018
1,BD+20 594 b,BD+20 594,0,CONFIRMED,Espinoza et al. 2016,1,1,Transit,2016,K2,...,-0.012,9.368,0.018,-0.018,10.8644,0.000249,-0.000249,25/04/2018,2016-10,28/07/2016
2,BD+20 594 b,BD+20 594,1,CONFIRMED,Espinoza et al. 2016,1,1,Transit,2016,K2,...,-0.012,9.368,0.018,-0.018,10.8644,0.000249,-0.000249,25/04/2018,2017-03,26/04/2018
3,EPIC 201111557.01,EPIC 201111557,1,CANDIDATE,Livingston et al. 2018,1,0,Transit,2018,K2,...,-0.046,9.220,0.019,-0.019,11.3995,0.001307,-0.001307,02/08/2018,2018-08,02/08/2018
4,EPIC 201111557.01,EPIC 201111557,0,CANDIDATE,Livingston et al. 2018,1,0,Transit,2018,K2,...,-0.046,9.220,0.019,-0.019,11.3995,0.001307,-0.001307,15/02/2018,2018-03,15/02/2018

In [109]:
k2_df_raw.shape

(4004, 94)

In [110]:
#Mostrar información del DataFrame
k2_df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4004 entries, 0 to 4003
Data columns (total 94 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          4004 non-null   object
 1   hostname         4004 non-null   object
 2   default_flag     4004 non-null   int64
 3   disposition      4004 non-null   object
 4   disp_refname     4004 non-null   object
 5   sy_snum          4004 non-null   int64
 6   sy_pnum          4004 non-null   int64
 7   discoverymethod  4004 non-null   object
 8   disc_year        4004 non-null   int64
 9   disc_facility    4004 non-null   object
 10  soltype          4004 non-null   object
 11  pl_controv_flag  4004 non-null   int64
 12  pl_refname       4004 non-null   object
 13  pl_orbper        3960 non-null   float64
 14  pl_orbpererr1    3071 non-null   float64
 15  pl_orbpererr2    3071 non-null   float64
 16  pl_orbperlim     3960 non-null   float64
 17  pl_orbsmax       820 non-null    float64
 18  pl_orbsmaxerr1   813 non-null    float64
 19  pl_orbsmaxerr2   813 non-null    float64
 20  pl_orbsmaxlim    820 non-null    float64
 21  pl_rade          3173 non-null   float64
 22  pl_radeerr1      2887 non-null   float64
 23  pl_radeerr2      2887 non-null   float64
 24  pl_radelim       3173 non-null   float64
 25  pl_radj          3173 non-null   float64
 26  pl_radjerr1      2887 non-null   float64
 27  pl_radjerr2      2887 non-null   float64
 28  pl_radjlim       3173 non-null   float64
 29  pl_bmasse        435 non-null    float64
 30  pl_bmasseerr1    393 non-null    float64
 31  pl_bmasseerr2    393 non-null    float64
 32  pl_bmasselim     435 non-null    float64
 33  pl_bmassj        435 non-null    float64
 34  pl_bmassjerr1    393 non-null    float64
 35  pl_bmassjerr2    393 non-null    float64
 36  pl_bmassjlim     435 non-null    float64
 37  pl_bmassprov     435 non-null    object
 38  pl_orbeccen      429 non-null    float64
 39  pl_orbeccenerr1  226 non-null    float64
 40  pl_orbeccenerr2  226 non-null    float64
 41  pl_orbeccenlim   429 non-null    float64
 42  pl_insol         630 non-null    float64
 43  pl_insolerr1     447 non-null    float64
 44  pl_insolerr2     447 non-null    float64
 45  pl_insollim      630 non-null    float64
 46  pl_eqt           854 non-null    float64
 47  pl_eqterr1       685 non-null    float64
 48  pl_eqterr2       685 non-null    float64
 49  pl_eqtlim        854 non-null    float64
 50  ttv_flag         4004 non-null   int64
 51  st_refname       3988 non-null   object
 52  st_spectype      437 non-null    object
 53  st_teff          2892 non-null   float64
 54  st_tefferr1      2584 non-null   float64
 55  st_tefferr2      2578 non-null   float64
 56  st_tefflim       2892 non-null   float64
 57  st_rad           3874 non-null   float64
 58  st_raderr1       3242 non-null   float64
 59  st_raderr2       3236 non-null   float64
 60  st_radlim        3874 non-null   float64
 61  st_mass          2102 non-null   float64
 62  st_masserr1      1946 non-null   float64
 63  st_masserr2      1940 non-null   float64
 64  st_masslim       2102 non-null   float64
 65  st_met           1698 non-null   float64
 66  st_meterr1       1667 non-null   float64
 67  st_meterr2       1667 non-null   float64
 68  st_metlim        1698 non-null   float64
 69  st_metratio      1695 non-null   object
 70  st_logg          2356 non-null   float64
 71  st_loggerr1      2143 non-null   float64
 72  st_loggerr2      2143 non-null   float64
 73  st_logglim       2356 non-null   float64
 74  sy_refname       4004 non-null   object
 75  rastr            4004 non-null   object
 76  ra               4004 non-null   float64
 77  decstr           4004 non-null   object
 78  dec              4004 non-null   float64
 79  sy_dist          3879 non-null   float64
 80  sy_disterr1      3748 non-null   float64
 81  sy_disterr2      3748 non-null   float64
 82  sy_vmag          3962 non-null   float64
 83  sy_vmagerr1      3962 non-null   float64
 84  sy_vmagerr2      3962 non-null   float64
 85  sy_kmag          3981 non-null   float64
 86  sy_kmagerr1      3973 non-null   float64
 87  sy_kmagerr2      3973 non-null   float64
 88  sy_gaiamag       3948 non-null   float64
 89  sy_gaiamagerr1   3948 non-null   float64
 90  sy_gaiamagerr2   3948 non-null   float64
 91  rowupdate        4004 non-null   object
 92  pl_pubdate       4004 non-null   object
 93  releasedate      4004 non-null   object
dtypes: float64(70), int64(6), object(18)
memory usage: 2.9+ MB

In [111]:
# Elimina filas que tengan más de 30 valores nulos
k2_df_clean = k2_df_raw.dropna(thresh=k2_df_raw.shape[1] - 30)
k2_df_clean.isnull().sum()

pl_name           0
hostname          0
default_flag      0
disposition       0
disp_refname      0
                 ..
sy_gaiamagerr1    3
sy_gaiamagerr2    3
rowupdate         0
pl_pubdate        0
releasedate       0
Length: 94, dtype: int64

In [112]:
#Llena los datos NaN  con "No data" en donde la columna es de tipo object
for col in k2_df_clean.select_dtypes(include='object').columns:
    k2_df_clean.loc[:, col] = k2_df_clean[col].fillna('No data')
k2_df_clean.isnull().sum()

pl_name           0
hostname          0
default_flag      0
disposition       0
disp_refname      0
                 ..
sy_gaiamagerr1    3
sy_gaiamagerr2    3
rowupdate         0
pl_pubdate        0
releasedate       0
Length: 94, dtype: int64

In [117]:
k2_df_clean.isnull().sum()

pl_name           0
hostname          0
default_flag      0
disposition       0
disp_refname      0
                 ..
sy_gaiamagerr1    3
sy_gaiamagerr2    3
rowupdate         0
pl_pubdate        0
releasedate       0
Length: 94, dtype: int64

In [114]:
k2_df_clean.shape

(1600, 94)